@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/082/622/original/poker-background-with-playing-cards-and-chips-on-green-casino-background-modern-poker-widescreen-wallpaper-vector.jpg);
  margin-top: 100px;
}

#card-body {
  border-style: solid;
  border-color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 4%;
}

#header-number {
  display: flex;
  justify-content: flex-start;
  font-size: 90px;
}

#footer-number {
  display: flex;
  justify-content: flex-end;
  font-size: 90px;
}

#number-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-family: "Kelly Slab", sans-serif;
}
